  /* Custom style for footer */
  footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
}

footer ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}