/* CSS reset rule */
body,
nav,
main,
footer,
figure {
    margin: 0;
    padding: 0;
}

/* Style rules for main element */
main {
    padding: 1em;
}

/* Style for trailer video */
#valorant-trailer {
    padding: 1em;
    padding-right: 0;
}

iframe {
    width: 100%;
    height: 316px;
}

#valorant-trailer figcaption {
    font-size: .75em;
}

/* Custom style for footer */
footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
}

footer ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

/* Style rules for tips and tricks page */

.main-pic {
    grid-column: 1/3;
    width: 100%;
}

.main-pic img {
    width: 100%;
    height: 100%;
    margin-top: 0;
}

/* Style rule for the tips */
.tip {
    background-color: #fff;
    box-shadow: 5px 5px 15px;
    padding: .5em;
    margin: .5em 0;
    color: #000;
}

#tips-and-tricks-field form {
    padding: .5em;
    border: solid 3px #000;
}

legend {
    font-weight: bold;
}

.tips-form-heading {
    margin-top: 1em;
    margin-bottom: 0;
}

.form-checkboxs {
    display: block;
}

.form-checkboxs input {
    margin: .5em;
}

.button {
    margin: .5em auto;
    display: block;
}

/* Media query for Tablet View */
@media screen and (min-width: 481px) {

    /* Style rules for index.html */
    /* Style for container (grid layout) */
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2;
        grid-gap: 20px;
    }

    /* Style for trailer video */
    #valorant-trailer {
        grid-column: 2;
        grid-row: 1/3;
        padding: 1em;
        padding-right: 0;
    }

    /* Style rules for tips & tricks */
    #page-intro {
        grid-column: 1/3;
    }

    #tips-and-tricks-field {
        text-align: center;
    }

    .form-checkboxs {
        display: inline;
    }
}

.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5em;
}

.navbar-nav .nav-link {
    color: #fff;
    /* White links */
}

/* Media query for Desktop View */
@media screen and (min-width: 769px) {

    /* Style rules for Tips and Tricks */
    .tip:hover {
        background-color: #fa4454;
        color: #fff;
        animation-name: shake;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

    @keyframes shake {
        0% {
            transform: rotate(0deg);
        }

        25% {
            transform: rotate(-3deg);
        }

        50% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(3deg);
        }
    }
}